pipeline/pipeline_bicis.json
{
	"name": "pipeline_bicis",
	"properties": {
		"activities": [
			{
				"name": "create-file",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "func-basic",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "AzFunctionBicis",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "filter",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "create-file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "func-filter",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "AzFunctionFilter",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "create-file",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('create-file').output",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('create-file').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}